*{outline:0; margin:0; padding:0;}
.clearfix {clear:both;}
body {
	background-color:  #cdcdcd ;
}
ul li {
	list-style: none;
}
a {
	text-decoration: none;
}

.shell {
	width:1280px;
	margin:0 auto;
}
.header {
	background-color: #06dbe9;
	padding:20px 0;
}
.header .logo {
	width:50%;
	float:left;
}
.logo h1 {
	color:#edecec;
}
.logo a {
	color:#fff;
}
.header .login {
	width:50%;
	float: right;
}
.login form {
	width:100%;
}
/*.login .frmLogin {
	width:70%;
	display:block;
	float:right;
}
.login .formSignUp {
	
}
*/
.login form input {
	display: inline;
}
.login form input[type="text"], .login form input[type="password"] {
	border:none;
	padding:11px;
	background-color: #edecec  ;
	font-size: 1em;
}
.login form input[type="submit"]{
	border:1px solid #fff;
	padding:10px;
	margin-left: 10px;
	cursor:pointer;
	font-size: 1em;
}
.login form .btnLogin {
	background-color: #06dbe9;
	color:#fff;
	float: right;
}
.btnSignUp{
	background-color:  #19bb00   ;
	color:#fff;
	margin-left:10px;
	float:right;
}
.login ul {
	margin-top:20px;
	float:right;
}
.login ul li {
	display:inline-block;
	margin:5px;
}
.login ul li a {
	padding:5px;
	border:1px solid #fff;
	color:#fff;
}

.login_view {
	*width:400px;
	width: 80%;
	margin:0px auto;
	*border: 1px solid #ccc;
	border-radius: 3px;
	float: right;
}

.login_view input {
	box-sizing: border-box;
}
.login_view input[type="text"], .login_view input[type="password"]{
	display: block;
	width:95%;
	padding: 10px;
	border-radius: 3px;
	margin:5px auto 5px auto;
	border: 1px solid  #f2f3f4 ;
}
.login_view input[type="submit"] {
	width:25%;
	padding:10px;
	float:right;
	border:1px solid #555;
	margin:10px 10px 10px 0px;
	cursor: pointer;
}
.stringPanel {
	*margin-top: 20px;
}

.main {
	
}


.start_game {

}
.column_one {
	margin: 200px auto 200px auto;
	width: 200px;
	height: 50px;
	*background-color: #fff;
}
.column_one p {
	padding:5px;
}
.column_one input[type="submit"]{
	display: block;
	width:200px;
	height: 50px;
	cursor: pointer;
	border: 1px solid #b9b9b9;
	margin: 10px 0;
}

.notification {
	
}
.notification h1, h2, h3, h4, h5 {
	font-size: 1.3em;
	padding: 10px 10px 0px 10px;
}
.notification p {
	padding: 0px 10px 10px 10px;
}
.red {
	color:#EC0000;
	background-color: #FFC3C3;
	border: 1px solid #EC0000;
}
.green {
	color: #58a002 ;
	background-color: #D0F37F;
	border:1px solid  #58a002 ;
}

.right form input.red {
	color:#EC0000;
	border: 1px solid #EC0000;
}
.content {
	padding: 10px;
}
.main .left {
	width:49%;
	float: left;
	margin-top:10px;
	margin-bottom: 10px;
	background-color: #fff;
}
.main .right {
	width: 49%;
	float: right;
	margin:10px 0px;
	background-color: #fff;
}

.account_info {

}
.account_info .widget {
	width: 95%;
	margin: 10px auto;
	border:1px solid #ccc;
}

.widget_header {
	border-bottom: 1px solid #ccc;
	color: #A99C04;
}
.widget_header h1 {
	font-size: 1.3em;
	padding:5px 15px;
}
.widget_content .name {
	color: #A99C04;
}
.widget_content p {
	color: #3E3E3E;
}

.widget_content textarea, input {
	box-sizing: border-box;
}
.widget_content textarea {
	display: block;
	width: 95%;
	max-width: 95%;
	min-width: 95%;
	height: 150px;
	min-height: 150px;
	max-height: 150px;
	margin: 10px auto 10px auto;
	border:1px solid #E8E8E8;
	padding: 10px;
	font-size: 1.2em;
	color: #3E3E3E;
}
.widget_content input[type="password"]{
	display: inline-block;
	width:27.8%;
	margin:15px;
	padding: 5px;
	color: #3E3E3E;
	border:1px solid #E8E8E8;
}

.account_info .save_settings {
	float: left;
	margin: 15px;
	border:1px solid #756C02;
	background-color: #938701;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}
.account_info .delete_account {
	float: right;
	margin: 15px;
	border:1px solid #950101;
	background-color: #C90C00;
	color: #fff;
	padding: 10px;
	cursor: pointer;
}

.welcome {
	*padding:30px 0px;
	background-color: #fff;
}
.welcome p {
	margin-top: 10px;
	font-size: 1em;
	line-height: 20px;
	word-spacing: 3px;
}

.right h3 {
	font-size: 2em;
	margin-bottom: 10px;
}
.right p {
	*font-size: 1.3em;
	margin-top: 5px;
	margin-bottom: 20px;
}
.register {
	width:100%;
}
.register input {
	box-sizing: border-box;
	margin-bottom: 12px;
	color:#555;
	font-size: 1.1em;
}
.register input[type='text'], .register input[type='password']{
	padding:10px;
	border-radius:5px;
	border: 1px solid #ccc;
}
.register input[type='submit']{
	margin-top: 10px;
	float: right;
	border:1px solid #24e307;
	background-color: #19bb00;
	color: #fff;
	font-size: 1.4em;
	padding:7px;
	border-radius:3px;
	cursor: pointer;
	border-bottom: 3px solid #0d6100;
}
.register #firstName, .register #surName{
	display: block;
	width: 49%;
}
.register #firstName {
	float:left;
	display: block;
}
.register #surName {
	float:right;
	display: block;
}
.register #userID{
	display: block;;
	clear: both;
	width: 100%;
}
.register #userPass {
	display: block;
	width: 100%;
}

.about_me {
	padding: 20px 0px;
	background-color: #ccc;
}
.about_me .icon {
	width:100px;
	height: 100px;
	margin:0px auto;
}
.about_me .icon img {
	display: block;
	width: 100px;
	height: 100px;
}
.about_me .about_me_title {
	text-align: center;
}
.about_me .about_me_message {
	text-align: center;
}

.footer {
	background-color:  #393939 ;
}
.footer .copy {

}
.footer .copy p {
	text-align:center;
	color:#fff;
}
.footer .social {
	width:130px;
	margin:0 auto;
}
.footer .social ul li {
	display: inline-block;
	width: 30px;
	height:30px;
	border:1px solid #fff;
	line-height: 30px;
	text-align: center;
	color:#fff;
}
.footer .social ul li a {
	padding:15px;
	color:#fff;
	line-height: 30px;
	text-align: center;
}