.game_board_header {
    border-bottom: 1px solid #ececeb;
    background-color: #e5e5e5;
}
.game_board_header h1, h2, h3, h4, h5 {
    font-size: 1.2em;
    padding: 15px;
}
.game_board {
  padding: 15px;
}
.game_board p {
  padding: 0px;
}
.game_board h3 {
    padding:0px 0px 15px 0px;
}
.game_board table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

.game_board table {
    border-collapse: collapse;
    width: 100%;
}

.game_board th, td {
    width:50px;
    height:50px;
}
.game_board td {
  font-size:0.7em;
  text-align: center;
}
.game_board input[type="radio"] {
	display:block;
	width:90%;
  height:90%;
  margin: auto;
}
.game_board input[type="submit"]{
  margin:15px 0px 15px 0px;
  padding:10px 30px;
  float:right;
  cursor:pointer;
  border:1px solid #ff8b00;
  color:#B96200;
  background-color: #ffc27a;
}

.lives {
  border:1px solid #ccc;
  padding: 5px;
  margin:10px 0px 10px 0px;
}

.points {
  border:1px solid #ccc;
  padding: 5px;
  margin: 10px;
}